main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerSearched {
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
  justify-content: center;
}

.tittleSeearch {
  display: flex;
  justify-content: center;
}